
@{
    ViewData["Title"] = "Tabuleiro";
}

<h2>Tabuleiro</h2>
<link rel="stylesheet" href="~/css/tabuleiro.css" />
<h1>Connect-4</h1>
<div id="Tabuleiro" class="tabuleiro">

</div>
@section Scripts{
    <script src="~/js/tabuleiro.js"></script>
}

